.nav {
    background-color: rgb(39, 39, 39);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    padding: 0px 10px;
}

.nav-links {
    list-style-type: none;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

a {
    padding-left: 10px;
    color: white;
    text-decoration: none;
}

.btn {
    background-color: aqua;
    color: white;
    box-shadow: 3px 3px black;
    margin: 0px 10px;
}

